@font-face{
	font-family: neon80;
	src: url(Neon.ttf);
}

h1{
	color: white;
	font-family: neon80;
}

#Shortcut{
	text-align: center;
	font-size: 3vw;
	color: grey;
}

#HomeButton{
	position:absolute;
  right: 1%;
  width: 15vw;
  height: 10vh;
  display: block;
  font-size: 3vw;
  text-align: center;
  padding: 14px 25px;
}

a.Switch{
	font-size: 3vw;
	position: absolute;
	color: white;
	text-decoration: none;
	font-family: neon80;
}

a#Games{
	right: 11.5vw;
}

a#Home{
	right: 1vw;
}

a#Videos{
	right: 30vw;
}

a.Switch:hover{
	color: orange;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

button:hover {
  background-color: green;
}

button:active {
	background-color: lightgreen;
	color: darkgreen;
}

.Desc{
	font-size: 6vw;
	text-align: center;
	font-family: neon80;
	color: #FA7205;
}

.MyName{
	font-size: 10vw;
	text-align: center;
	font-family: neon80;
	color: #FA7205;
	text-shadow: transparent;
}

body{
	background-color: #08070C;
}